# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 Some of the popular languages that Data Scientists use are:
    
 1. Python
 2. R
 3. SQL
 4. Scala
 5. Java
 6. C++
 7. Julia
 8. Javascript
 9. Php
 10. Go
 11. Ruby
 12. Visual Basic

Some of the commonly used libraries used by Data Scientists include: 
    
 1. Pandas
 2. Numpy
 3. Matplotlib
 4. Seaborn
 5. Scikit-learn
 6. Kera
 7. TensorFlow
 8. PyTorch
 9. Apache Spark
 10. Vegas
 11. Big DL
 12. Ggplot2

|Data Science Tools|
|:---:|
|Anaconda|
|JupyterNotebooks|
|R Studio|
|Spyder|
|Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

Objectives: 
    
 * Add comment to codes
 * Create markdown cells
 * Add ordered and unordered lists to markdown cells
 * Format content ofmardown cells with heading styles

## Author

Dr. Gabor FACSKO